<h2>SSH Key <span style="color: black;"><%= @sshkey.name %></span></h2>

<div>
Kommentar: <%= @sshkey.comment %>
</div>

<br/>
<h3>Member in SSH Key Groups</h3>

<% @sshkey.sshkey_group_mbrs.each do |sgm| %>
<div style="clear:both;">
    <div style="min-width:150px;float:left;"><%= link_to sgm.sshkey_group.name, sshkey_group_path(sgm.sshkey_group), :remote => true %></div>
    <div><%= link_to image_tag("cancel.png"), sshkey_group_sshkey_group_mbr_path(sgm.sshkey_group,sgm, :ajax_from => 'sshkey_show') , :confirm => 'Are you sure to delete Membership?', :method => :delete, :remote => true, :title => "Delete Membership" %></div>
</div>
<% end %>


<div style="margin-top:20px;">
  <%= form_for(SshkeyGroupMbr.new,  :url => sshkey_sshkey_group_mbrs_path(@sshkey, :ajax_from => 'sshkey_show'), :remote => true  ) do |f| %>
  <%= f.hidden_field :sshkey_id, :value => @sshkey.id  %>
  <%= f.select :sshkey_group_id, SshkeyGroup.getGroupsNotKeyMember(@sshkey.id).collect { |d| [ d.name,d.id] }, { :prompt => "SSH Key Group..." } %>
  <%= f.submit "Hinzufuegen" %>
  <% end %>
</div>

