<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sshkey.name %>
</p>

<p>
  <b>Key public:</b>
  <%= raw @sshkey.key_public.gsub(/\r/,'<br/>') %>
</p>

<p>
  <b>Comment:</b>
  <%= @sshkey.comment %>
</p>

<%= link_to 'Edit', edit_sshkey_path(@sshkey) %> |
<%= link_to 'Back', sshkeys_path %>
