<% form_for ([@server, @server_interface]) do |f| %>
<%= f.error_messages %>
<table>
  <tr>
    <td valign="top">Interface: </td>
    <td valign="top"><%= f.select :interface_id , Interface.find(:all).collect{|d| [d.name,d.id]} %></td>
    <td>
      <% if Setting.get('puppet') == "true" and  @server.getPuppet %>
      Interfaces from Puppet facts:<br/>
      <% @server.getPuppet.getInterfaces.each do |int| %>
      <%= int %><br/>
      <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Vlan:</td>
    <td><%= f.select :vlan_id , Vlan.find(:all).collect{|d| [d.name,d.id]} %></td>
  </tr>
  <tr>
    <td>IP:</td>
    <td><%# FIXME: only IPs not used by an interface %>
      <%= f.select :ip_id , @server.ips.collect{|d| [d.ip,d.id]} %></td>
  </tr>
  <tr>
    <td>Alias Interface:</td>
    <td><%= f.select :alias , [['--select one--', ''], ['Yes', true], ['No', false]].collect{|d| d } %></td>
  </tr>
  <tr>
    <td>Default GW:</td>
    <td><%= f.select :default_gw , [['--select one--', ''], ['Yes', true], ['No', false]].collect{|d| d } %></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2" style="text-align:right;">
		<%= hidden_field(:server_interface, :server_id , :value => @server.id ) %>
		<%= f.submit "Create/Update" %></td>
  </tr>
</table>
<% end %>