<%= render :partial => "domains/menubar" %>
<h1>New Domain Nameserver: <%=h @domain.name %></h1>
<br/>

<%= form_for(@domain_nameserver) do |f| %>
        <%= f.error_messages %>
<table>
	<tr>
		<td>Domain:</td>
		<td>
			<%=h @domain.name %>
			<%= hidden_field(:domain_nameserver, :domain_id , :value => @domain.id ) %>
		</td>
	</tr>
	<tr>
		<td>Nameserver:</td>
		<td>
			<%= f.select :nameserver_id, Nameserver.find(:all).collect{|d| [d.name,d.id]} %>
		</td>
	</tr>
	<tr>
		<td>Primary:</td>
		<td>
			<% if @domain_nameserver.primary_ns == true %>
			<%= f.select :primary_ns, [ 'true', 'false'].collect{|d| [d]} %>
			<% else %>
			<%= f.select :primary_ns, [ 'false', 'true'].collect{|d| [d]} %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>NS Entry on Zone:</td>
		<td><%= check_box_tag("domain_nameserver[ns_entry]",1,true) %></td>
	</tr>

  <tr>
		<td colspan="2"><%= f.submit "Create" %></td>
	</tr>
</table>
<% end %>