<h1>Editing network</h1>

<% form_for(@network) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :network %><br />
    <%= f.text_field :network %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @network %> |
<%= link_to 'Back', networks_path %>
