<h1>Listing networks</h1>

<table>
  <tr>
    <th>Network</th>
		<th>Customer</th>
    <th>Comment</th>
		<th>Usage</th>
  </tr>

<% for network in @networks %>
  <tr>
    <td><%= link_to network.network, network  %></td>
		<td><%=h network.customer.name %></td>
    <td><%=h network.comment %></td>
		<td><%=h network.ips.count %></td>
    <td><%= link_to 'Show', network %></td>
    <td><%= link_to 'Edit', edit_network_path(network) %></td>
    <td><%= link_to 'Delete', network, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New network', new_network_path %>
