<h1>New network</h1>

<%= form_for(@network) do |f| %>
  <%= f.error_messages %>
<table>
  <tr>
    <td>Customer:</td>
    <td><%= f.select :customer_id,Customer.find(:all).collect{|d| [d.name,d.id]} %></td>
  </tr>
  <tr>
    <td>Network:</td>
    <td><%=f.text_field :network %></td>
  </tr>
  <tr>
    <td>Gateway:</td>
    <td><%= f.text_field :gw %></td>
  </tr>
  <tr>
    <td>Comment:</td>
    <td><%= f.text_field :comment %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit "Create" %></td>
  </tr>
</table>
<% end %>
