<%= render :partial => "network_menubar" %>
<h1>Network - Show: <%=h @network.network %></h1>
<br/>

<table>
	<tr>
    <td>Customer:</td>
    <td><%=h @network.customer.name %></td>
  </tr>
	<tr>
		<td>Network:</td>
		<td><%=h @network.network %></td>
	</tr>
	<tr>
		<td>Comment:</td>
		<td><%=h @network.comment %></td>
	</tr>
</table>

<br/>
<% if @network.ips.count > 0 %>
  <table>
  	<tr>
  		<th>IP</th>
			<th>Type</th>
			<th>Server</th>
			<th></th>
  	</tr>
  <% @network.ips.each do |i| %>
	<tr>
		<td><%=h i.ip %> </td>
		<td><% if i.ip_type != nil %><%=h i.ip_type.name %><% end %></td>
		<td><% if i.server != nil %><%= link_to "#{i.server.fqdn}", i.server %><% end %></td>
		<td><% if i.server != nil %><%= link_to 'Delete', { :controller => "ips", :action => "destroy", :id => i,  :from => 'network_view' }, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
	</tr>
	<% end %>
  </table>
<% else %>
 - no ips on this net found -
<% end %>
