<p>
  <b>Network:</b>
  <%=h @network.network %>
</p>

<p>
  <b>Comment:</b>
  <%=h @network.comment %>
</p>


----------------<br/>
<% @network.ips.each do |i| %>
<p>
<%=h i.ip %> 
<% if i.iptype != nil %><%=h i.iptype.name %><% end %>
<% if i.server != nil %><%=h i.server.name %><% end %>

<% end %>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
