<table>
  <tr>
    <td>Customer:</td>
    <td><%=h @server.customer.name %></td>
  </tr>
   <tr>
    <td>Server:</td>
    <td><%=h @server.name %></td>
  </tr>
   <tr>
    <td>Domain:</td>
    <td><%=h @server.domain.name %></td>
  </tr>
  <tr>
    <td valign="top">Comment:</td>
    <td><%=h @server.comment %></td>
  </tr>
  <tr>
    <td>Server Type:</td>
    <td><%=h @server.servertype.name %> ( <%=h @server.servertype.server_type_hardware.name %> )</td>
  <tr>
    <td>Operation System:</td>
    <td><%=h @server.server_operation_system.name %></td>
  </tr>
	<% if @server.servertype.server_type_hardware.id == 2 %>
	<tr>
		<td>Hardware Platform:</td>
		<td>
			<% if ServerVirtual.getHardware(@server.id).count == 1 %>
			 <% ServerVirtual.getHardware(@server.id).each do |h| %>
        <%= link_to "#{Server.find(h.hardware_id).name}.#{Server.find(h.hardware_id).domain.name}", Server.find(h.hardware_id) %>
			 <% end %>
			<% end %>
		</td>
	</tr>
	<% end %>
  <tr>
    <td>Server Groups</td>
    <td>
      <% if @server.server_group_members.count > 0 %>
        <% @server.server_group_members.each do |g| %>
	  <%= link_to "#{g.server_group.name}", g.server_group %> [<%= link_to 'X', { :controller => "server_groups",:action => "delmember", :id => g ,:from => 'server_view'}, :confirm => 'Are you sure?', :method => :delete %>]<br/>
	<% end %>
      <% else %>
      no Groups
      <% end %>
    </td>
  </tr>
</table>
<br/>

<%# Puppet Begin %>
<% if Setting.get('puppet') == "true" and  @server.getPuppet %>
      <%= link_to_function ("Show Puppet Facts", nil, :id => "puppet_more_info_show" ) do |page|
page["puppet_facts"].toggle()
page["puppet_more_info_hide"].toggle()
page["puppet_more_info_show"].toggle()
end %>

<%= link_to_function ("Hide Puppet Facts", nil, :id => "puppet_more_info_hide", :style => "display:none;") do |page|
page["puppet_facts"].toggle()
page["puppet_more_info_hide"].toggle()
page["puppet_more_info_show"].toggle()
end%>

</br/>
<table style="display:none" id="puppet_facts">
	<tr>
		<th>Facter Name</th>
		<th>Facter Value</th>
	</tr>
  <% @server.getPuppet.get_facts.each do |value|%>
	<tr>
		<td style="font-weight:bold;"><%= value.fact_name.name %></td>
		<td><%= value.value %></td>
	</tr>
  <% end %>
</table>
<br/><br/>
<% end %>
<%# Puppet END %>
<% if @server.servertype.server_type_hardware.id == 3 and defined?@server_virtual %>
<h2>Domain0 System:</h2>
  <% if ServerVirtual.getVirtuals(@server.id).count > 0 %>
	   <ul>
			<% ServerVirtual.getVirtuals(@server.id).each do |v| %>
			 <li><%= link_to "#{Server.find(v.virtual_id).name}.#{Server.find(v.virtual_id).domain.name}", Server.find(v.virtual_id) %> &nbsp;[<%= link_to 'X',  :controller => "servers", :action => "dropvirtual", :id => v %>]</li>
			<% end %>
	   </ul>
  <% end %>
	<% if Server.getFreeVirtualServers().count > 0 %>
	Add new virtual Systems to hardware:<br/>
	 <% form_for @server_virtual, :url => { :action => "addvirtual" } do |f| %>
        <%= f.error_messages %>
				<%= hidden_field(:server_virtual, :hardware_id , :value => @server.id ) %>
	      <%= f.select :virtual_id, Server.getFreeVirtualServers().collect{|d| ["#{d.name}.#{d.domain.name} ",d.id]} %>
				
				<%= f.submit "Add Virtual System to Hardware" %>
	 <% end %>
	 <% else %>
	 - no more virtual Servers found -
	 <% end %>
<% end %>
 

<h2>IP Addresses:</h2>
<% if @server.ips.count > 0 %>

<table>
  <tr>
    <th>IP</th>
    <th>Type</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>

  <% @server.ips.each do |i| %>
   <tr>
     <td><% if i.is_primary %><span style="color:red"><%=h i.ip %></span><% else %><%=h i.ip %><% end %></td>
     <td><%=h i.ip_type.name %></td>
     <td><%= link_to 'Net', i.network %></td>
     <td><%= link_to 'Delete', server_ip_path(@server,i), :confirm => 'Are you sure?', :method => :delete %></td>
     <td><% if !i.is_primary %>
     Make PRI
     <% end %></td> 
   </tr>
   <% end %>
   
</table>
<% else %>
 - no ip addresses for this server -
<% end %>

<br/><br/>
<h2>Network Interfaces</h2>
<table>
	<tr>
		<th>Interface</th>
    <th>IP</th>
		<th>Vlan</th>
		<th>default GW</th>
		<th>alias Int</th>
		<th>Options</th>
		<th></th>
		<th></th>
	</tr>
	<% @server.server_interfaces.each do |si| %>
	<tr>
		<td valign="top"><%= link_to si.interface.name, server_server_interface_path(@server,si) %></td>
		<td valign="top"><%=h si.ip.ip %></td>
    <td valign="top"><%=h si.vlan.name %></td>
		<td style="text-align:center;" valign="top"><%=h si.alias %></td>
		<td style="text-align:center;" valign="top"><%=h si.default_gw %></td>
		<td valign="top">
      <% si.server_interface_options.each do |sio| %>
			<%=h sio.interface_option.name %> <%=h sio.value %><br/>
			<% end %>
		</td>
		<td><%= link_to 'Edit', edit_server_server_interface_path(@server,si) %></td>
		<td><%= link_to 'Delete', server_server_interface_path(@server,si), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<br/><br/>
<h2>MAC Addresses:</h2>
<% if @server.server_macs.count > 0 %>

<table>
	<tr>
		<th>MAC</th>
		<th></th>
	</tr>
	
	<% @server.server_macs.each do |i| %>
	<tr>
		<td><%=h i.mac%></td>
		<td><%= slink_to 'server_mac', 'server_show', 'Edit', edit_server_mac_path(@server,i) %></td>
		<td><%= slink_to 'server_mac', 'server_show', 'Delete', server_mac_path(@server,i), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<% else %>
 - no mac addresses for this server -
<% end %>

<% if Setting.get('puppet') == 'true' %>
<br/><br/>
<h2>Puppet Configuration</h2>
<% if @server.configkey_values.count > 0 %>
<table>
	<tr>
		<td>Name</td>
		<td>Default</td>
		<td>Server Value</td>
		<td></td>
		<td></td>
	</tr>
  <% @server.configkey_values.each do |ckv| %>
	<tr>
		<td><%=h ckv.configkey.name %></td>
		<td><%=h ckv.configkey.default %></td>
		<td id="puppet_cfg_server_value_<%=h ckv.id.to_s %>"><%=h ckv.value %></td>
		<td>
			<%= link_to_function ("Show", nil, :id => "more_info_show#{ckv.id.to_s}" ) do |page|
page["ckv#{ckv.id.to_s}"].toggle()
page["more_info_hide#{ckv.id.to_s}"].toggle()
page["more_info_show#{ckv.id.to_s}"].toggle()
end %>

<%= link_to_function ("Hide", nil, :id => "more_info_hide#{ckv.id.to_s}", :style => "display:none;") do |page|
page["ckv#{ckv.id.to_s}"].toggle()
page["more_info_hide#{ckv.id.to_s}"].toggle()
page["more_info_show#{ckv.id.to_s}"].toggle()
end%>
			</td>
		<td><%= link_to 'Delete', ckv,:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	 <% form_for ckv, :update => "puppet_cfg_server_value_#{ckv.id.to_s}" do |f| %>
	<tr style="display:none;" id="ckv<%=h ckv.id %>">
		<td><%= f.text_field :value %></td>
		<td><%= f.submit "Update" %></td>
	</tr>
	<% end %>
	<% end %>
</table>
<% else %>
 - no puppet configuration keys found
<% end %>
<% end %>
