<table>
  <tr>
    <td>Customer:</td>
    <td><%=h @server.customer.name %></td>
  </tr>
   <tr>
    <td>Server:</td>
    <td><%=h @server.name %></td>
  </tr>
   <tr>
    <td>Domain:</td>
    <td><%=h @server.domain.name %></td>
  </tr>
  <tr>
    <td valign="top">Comment:</td>
    <td><%=h @server.comment %></td>
  </tr>
  <tr>
    <td>Server Type:</td>
    <td><%=h @server.servertype.name %> ( <%=h @server.servertype.server_type_hardware.name %> )</td>
  <tr>
    <td>Operation System:</td>
    <td><%=h @server.serveroperationsystem.name %></td>
  </tr>
	<% if @server.servertype.server_type_hardware.id == 2 %>
	<tr>
		<td>Hardware Platform:</td>
		<td>
			<% if ServerVirtual.getHardware(@server.id).count == 1 %>
			 <% ServerVirtual.getHardware(@server.id).each do |h| %>
        <%= link_to "#{Server.find(h.hardware_id).name}.#{Server.find(h.hardware_id).domain.name}", Server.find(h.hardware_id) %>
			 <% end %>
			<% end %>
		</td>
	</tr>
	<% end %>
  <tr>
    <td>Server Groups</td>
    <td>
      <% if @server.server_group_members.count > 0 %>
        <% @server.server_group_members.each do |g| %>
	  <%=h g.server_group.name %><br/>
	<% end %>
      <% else %>
      no Groups
      <% end %>
    </td>
  </tr>
</table>


<% if @server.servertype.server_type_hardware.id == 3 and defined?@server_virtual %>
<h2>Domain0 System:</h2>
  <% if ServerVirtual.getVirtuals(@server.id).count > 0 %>
	   <ul>
			<% ServerVirtual.getVirtuals(@server.id).each do |v| %>
			 <li><%= link_to "#{Server.find(v.virtual_id).name}.#{Server.find(v.virtual_id).domain.name}", Server.find(v.virtual_id) %> &nbsp;[<%= link_to 'X',  :controller => "servers", :action => "dropvirtual", :id => v %>]</li>
			<% end %>
	   </ul>
  <% end %>
	<% if Server.getFreeVirtualServers().count > 0 %>
	Add new virtual Systems to hardware:<br/>
	 <% form_for @server_virtual, :url => { :action => "addvirtual" } do |f| %>
        <%= f.error_messages %>
				<%= hidden_field(:server_virtual, :hardware_id , :value => @server.id ) %>
	      <%= f.select :virtual_id, Server.getFreeVirtualServers().collect{|d| ["#{d.name}.#{d.domain.name} ",d.id]} %>
				
				<%= f.submit "Add Virtual System to Hardware" %>
	 <% end %>
	 <% else %>
	 - no more virtual Servers found -
	 <% end %>
<% end %>
 

<h2>IP Addresses:</h2>
<% if @server.ips.count > 0 %>

<table>
  <tr>
    <th>IP</th>
    <th>Type</th>
    <th> </th>
  </tr>

  <% @server.ips.each do |i| %>
   <tr>
     <td><%=h i.ip %></td>
     <td><%=h i.iptype.name %></td>
		 <td><%= link_to 'Net', i.network %></td>
		 <td><%= link_to 'Destroy', i, :confirm => 'Are you sure?', :method => :delete %></td>
   </tr>
   <% end %>
   
</table>
<% else %>
 - no ip addresses for this server -
<% end %>

<br/><br/>
<h2>MAC Addresses:</h2>
<% if @server.servermacs.count > 0 %>

<table>
	<tr>
		<th>MAC</th>
		<th></th>
	</tr>
	
	<% @server.servermacs.each do |i| %>
	<tr>
		<td><%=h i.mac%></td>
		<td><%= link_to 'Destroy', i, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<% else %>
 - no mac addresses for this server -
<% end %>

<br/><br/>
<h2>Puppet Configuration</h2>
<% if @server.configkey_values.count > 0 %>
<table>
	<tr>
		<td>Name</td>
		<td>Default</td>
		<td>Server Value</td>
		<td></td>
		<td></td>
	</tr>
  <% @server.configkey_values.each do |ckv| %>
	<tr>
		<td><%= ckv.configkey.name %></td>
		<td><%= ckv.configkey.default %></td>
		<td><%= ckv.value %></td>
		<td>Edit</td>
		<td>Destory</td>
	</tr>
	<% end %>
</table>
<% else %>
 - no puppet configuration keys found
<% end %>
<%= link_to 'Add Puppet Configuration Value', :controller => "servers", :action => "addpuppetcfgvalue", :id => @server %>
