<%= render :partial => "server_menubar" %>
<h1>Server - Show: <%=h @server.name %></h1>
<br/>
<h2>Add IP Address to Server</h2>
<% form_for @ip, :url => { :action => "createip" } do |f| %>
  <%= f.error_messages %>
	<table>
		<tr>
			<td><%= f.label :network_id %></td>
			<td><%= f.select :network_id, Network.find(:all).collect{|d| [d.network,d.id]} %></td>
		</tr>
		<tr>
			<td><%= f.label :iptype_id %></td>
			<td><%= f.select :iptype_id, Iptype.find(:all).collect{|d| [d.name,d.id]} %></td>
		</tr>	
		<tr>
			<td><%= f.label :ip %></td>
			<td><%= f.text_field :ip %></td>
		</tr>
		<tr>
			<td colspan="2"> <%= hidden_field(:ip, :server_id , :value => @server.id ) %><%= f.submit "Create" %></td>
		</tr>
	</table>
<% end %>
<hr/>
<br/>
<h2>Server: <%=h @server.name %></h2>
<%= render :partial => "server_infos" %>