<h1>Servers#show</h1>

    <p>
      <b>Customer:</b>
        <%=h @server.customer.name %>
	</p>
<p>
  <b>Server:</b>
    <%=h @server.name %>
    </p>

    <p>
      <b>Operation System:</b>
       <%=h @server.serveroperationsystem.name %>
	</p>


<p>
  <b>Server Type:</b>
    <%=h @server.servertype.name %>
    </p>

    <p>
      <b>Comment:</b>
        <%=h @server.comment %>
	</p>


	<% @server.ips.each do |i| %>
	<p>
	<%=h i.ip %>
	<%=h i.iptype.name %>

	<% end %>


-------------------------------------<br/>
<p>
Add Ip<br/>

</p>

<% form_for(@ip) do |f| %>
        <%= f.error_messages %>
        <p>
                <%= f.label :network_id %><br />
                <%= f.select :network_id,
                        Network.find(:all).collect{|d| [d.network,d.id]} %>
        </p>
       <p><%= f.label :ip %><br />
                <%= f.text_field :ip %>
        </p>

        <p>
                <%= f.label :iptype_id %><br />
                <%= f.select :iptype_id,
                        Iptype.find(:all).collect{|d| [d.name,d.id]} %>
        </p>


        <p>
		<%= hidden_field(:ip, :server_id , :value => @server.id ) %>
                <%= f.submit "Create" %>

        </p>

<% end %>

