<%= render :partial => "server_menubar" %>
<h1>Server - Show: <%=h @server.name %></h1>
<br/>
<h2>Add Puppet Configuration Key Value to Server</h2>
<% form_for @configkey_value, :url => { :action => "createpuppetcfgvalue" } do |f| %>
  <%= f.error_messages %>
  <table>

    <tr>
      <td>Puppet Configuration Key</td>
      <td><%= f.select :configkey_id, Configkey.getKeysforServer(@server.id).collect{|d| [d.name,d.id]} %></td>
    </tr>
    <tr>
      <td><%= f.label :value %></td>
      <td><%= f.text_field :value %></td>
    </tr>
    <tr>
      <td colspan="2"> <%= hidden_field(:configkey_value, :server_id , :value => @server.id ) %><%= f.submit "Create" %></td>
    </tr>
  </table>
<% end %>
<hr/>
<br/>
<h2>Server: <%=h @server.name %></h2>
<%= render :partial => "server_infos" %>
