<%= render :partial => "server_menubar" %>
<h1>Server - Edit: <%=h @server.name %></h1>

<%= form_for(@server) do |f| %>
        <%= f.error_messages %>
<table>
   <tr>
    <td>Server:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>Domain:</td>
    <td><%= f.select :domain_id, Domain.find(:all).collect{|d| [d.name,d.id]} %></td>
  </tr>
  <tr>
    <td valign="top">Comment:</td>
    <td><%=h @server.comment %></td>
  </tr>
  <tr>
    <td>Server Type:</td>
    <td><%= f.select :servertype_id, Servertype.find(:all).collect{|d| ["#{d.name}",d.id]} %></td>
  <tr>
    <td>Operation System:</td>
    <td><%= f.select :server_operation_system_id, ServerOperationSystem.find(:all).collect{|d| [d.name,d.id]} %></td>
  </tr>
	<tr>
		<td colspan="2"><%= f.submit "Update" %></td>
	</tr>
</table>
<% end %>
