<h1>Server - New</h1>

<%= form_for(@server) do |f| %>
        <%= f.error_messages %>
<table>
  <tr>
    <td>Customer:</td>
    <td><%= f.select :customer_id,Customer.find(:all).collect{|d| [d.name,d.id]} %></td>
  </tr>
   <tr>
    <td>Server:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>Domain:</td>
    <td><%= f.select :domain_id, Domain.getAllwithoutRDNS.collect{|d| [d.name,d.id]} %></td>
  </tr>
  <tr>
    <td valign="top">Comment:</td>
    <td><%=h @server.comment %></td>
  </tr>
  <tr>
    <td>Server Type:</td>
    <td><%= f.select :servertype_id, Servertype.find(:all).collect{|d| ["#{d.name} (#{d.server_type_hardware.name})",d.id]} %></td>
  <tr>
    <td>Operation System:</td>
    <td><%= f.select :server_operation_system_id, ServerOperationSystem.find(:all).collect{|d| [d.name,d.id]} %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit "Create" %></td>
  </tr>
</table>
<% end %>
