<h1>New Server</h1>
<br/>

<% form_for(@server) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :customer_id  %><br />
		<%= f.select :customer_id,
			Customer.find(:all).collect{|d| [d.name,d.id]} %>
	</p>

	<p><%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :servertype_id %><br />
		<%= f.select :servertype_id,
			Servertype.find(:all).collect{|d| [d.name,d.id]} %>
	</p>
        <p>
                <%= f.label :serveroperationsystem_id %><br />
                <%= f.select :serveroperationsystem_id,
                        Serveroperationsystem.find(:all).collect{|d| [d.name,d.id]} %>
        </p>



	<p>
		<%= f.submit "Create" %>
	</p>

<% end %>


