<h1>Listing sshusers</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Server</th>
    <th>Anz. SSH Keys</th>
    <th>Anz. SSH Groups</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sshusers.each do |sshuser| %>
  <tr>
    <td><%= sshuser.username %></td>
    <td><%= sshuser.server.fqdn %></td>
    <td><%= sshuser.getSSHMemberKeys.count %></td>
    <td><%= sshuser.getSSHGroupMemberKeys.count %></td>
    <td><%= link_to 'Show', sshuser %></td>
    <td><%= link_to 'Edit', edit_sshuser_path(sshuser) %></td>
    <td><%= link_to 'Destroy', sshuser, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sshuser', new_sshuser_path %>
