<h1>Editing serveroperationsystem</h1>

<% form_for(@serveroperationsystem) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @serveroperationsystem %> |
<%= link_to 'Back', serveroperationsystems_path %>
