<h1>Listing servertyps</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for servertyp in @servertyps %>
  <tr>
    <td><%=h servertyp.name %></td>
    <td><%= link_to 'Show', servertyp %></td>
    <td><%= link_to 'Edit', edit_servertyp_path(servertyp) %></td>
    <td><%= link_to 'Destroy', servertyp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New servertyp', new_servertyp_path %>
