<h1>Editing servertyp</h1>

<% form_for(@servertype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @servertype %> |
<%= link_to 'Back', servertypes_path %>
