<h1>Editing servertyp</h1>

<% form_for(@servertyp) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @servertyp %> |
<%= link_to 'Back', servertyps_path %>
