<%= render :partial => "serverytpe_menubar" %>
<h1>Servertype - Edit: <%=h @servertype.name %></h1>
<br/>

<%= form_for(@servertype) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <td>Name:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit "Update" %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Show', @servertype %> |
<%= link_to 'Back', servertypes_path %>
