<%= render :partial => "serverytpe_menubar" %>
<h1>Servertype - Listing</h1>
<br/>

<table>
  <tr>
    <th>Name</th>
		<th>Hardware</th>
  </tr>

<% for servertype in @servertypes %>
  <tr>
    <td><%=h servertype.name %></td>
		<td><%=h servertype.server_type_hardware.name %></td>
    <td><%= link_to 'Show', servertype %></td>
    <td><%= link_to 'Edit', edit_servertype_path(servertype) %></td>
    <td><%= link_to 'Destroy', servertype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New servertyp', new_servertype_path %>
