<h1>Listing servertypes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for servertype in @servertypes %>
  <tr>
    <td><%=h servertype.name %></td>
    <td><%= link_to 'Show', servertype %></td>
    <td><%= link_to 'Edit', edit_servertype_path(servertyp) %></td>
    <td><%= link_to 'Destroy', servertype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New servertyp', new_servertype_path %>
