<%= render :partial => "menubar" %>
<h1>Domain - Edit: <%=h @domain.name %></h1>

<%= form_for(@domain) do |f| %>
        <%= f.error_messages %>
<table>
   <tr>
    <td>Name:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit "Update" %></td>
  </tr>
</table>
<% end %>
