<%= render :partial => "menubar" %>
<h1>Show: <%=h @domain.name %></h1>
<br/>
<% if @domain.getMaster == nil %>
<div style="border-color:red;border-style:dotted;font-weight:bold;">
  Warning: No Master Nameserver for this Domain configured!
</div><br/>
<% end %>
<table>
	<tr>
		<td>Domain: </td>
		<td>
			<%=h @domain.name %>
			<% if @domain.isReverseZone %> (IP-Reverse Zone)<% end %>
		</td>
	</tr>
	<tr>
		<td>Customer:</td>
		<td><%=h @domain.customer.name %></td>
	<tr>
		<td>Serial:</td>
		<td><%=h @domain.serial %></td>
	</tr>
</table>

<h2>Nameservers</h2>
<table>
	<tr>
		<td>Nameserver</td>
		<td>IP</td>
		<td>Pri/Sec</td>
		<td></td>
	</tr>
	<% @domain.domain_nameservers.each do |dns| %>
	<tr>
		<td><%= link_to dns.nameserver.name, dns.nameserver %></td>
		<td><%=h dns.nameserver.ip %></td>
		<td><%=h dns.nstype %></td>
		<td><%= link_to "Delete", domain_nameserver_path(@domain,dns), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<h2>Records</h2>
<table>
	<tr>
		<td>Record Id</td>
    <td>Record Name</td>
		<td>Record Type</td>
		<td>Record Content</td>
		<td>Extra Value</td>
		<td>Edit</td>
		<td>Delete</td>
	</tr>
  <% if @domain.isReverseZone
    order = "CAST(source || 0  AS integer) ASC"
  else
    order = "source ASC"
  end %>
	<% DomainRecord.find(:all, :conditions => "domain_id = #{@domain.id}", :order => "#{order}").each do |rr| %>

	<tr>
		<td style="text-align:center;"><%=h rr.id %></td>
		<td style="text-align:center;"><%=h rr.source %></td>
		<td style="text-align:center;"><%=h rr.domain_record_type.name %></td>
		<td style="text-align:center;"><%=h rr.value %></td>
		<td style="text-align:center;"><%=h rr.extra_value %></td>
		<td><%= link_to "Edit", edit_domain_record_path(@domain,rr) %></td>
		<td><%= link_to "Delete", domain_record_path(@domain,rr),:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>


<h2>SOA Record</h2>
<% if @domain.domain_soa %>
<table>
	<tr>
		<td>TTL:</td>
		<td><%=h @domain.domain_soa.ttl %></td>
	</tr>
  <tr>
  	<td>Primary NS:</td>
		<td><%=h @domain.domain_soa.primary_ns %></td>
  </tr>	
	<tr>
		<td>Address:</td>
		<td><%=h @domain.domain_soa.mail %></td>
	</tr>
	<tr>
		<td>Refresh:</td>
		<td><%=h @domain.domain_soa.refresh %></td>
	</tr>
	<tr>
		<td>Retry:</td>
		<td><%=h @domain.domain_soa.retry %></td>
	</tr>
	<tr>
		<td>Expire:</td>
		<td><%=h @domain.domain_soa.expire %></td>
	</tr>
	<tr>
		<td>Negative TTL:</td>
		<td><%=h @domain.domain_soa.negative_ttl %></td>
	</tr>
</table>
<% else %>
-- no Domain Soa set!
<% end %>