<% form_for [@domain, @domain_record] do |@f| %>
<table>
  <tr>
    <td colspan="8"><%= @f.error_messages %></td>
  </tr>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>TTL</th>
    <th>Content</th>
    <th>Prio</th>
    <th></th>
  </tr>
  <tr>
    <td><%= @f.text_field :source, :size => 7 %></td>
    <td><%= @f.select :domain_record_type_id, DomainRecordType.find(:all, :order => "name").collect{|d| [d.name,d.id]} %></td>
    <td><%= @f.text_field :ttl, :size => 5 %></td>
    <td><%= @f.text_field :value %></td>
    <td><%= @f.text_field :extra_value, :size => 5 %></td>
    <td><%= hidden_field(:domain_record, :domain_id , :value => @domain.id ) %>
		<% if @domain_record.new_record? %>
		<%= @f.submit "Create" %><br/>
    <%= submit_tag "Create & Continue", :name => 'continue' %>
		<% else %>
		  <%= @f.submit "Update" %>
		<% end %>
		</td>
  </tr>
</table>
<% end %>
