<%= render :partial => "serveros_menubar" %>
<h1>Server OS - Edit: <%=h @serveroperationsystem.name %></h1>
<br/>


<%= form_for(@serveroperationsystem) do |f| %>
  <%= f.error_messages %>
<table>
	<tr>
		<td>Name:</td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td valign="top">Debian Preseeding:</td>
		<td><%= f.text_area :config_preseed %></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.submit "Update" %></td>
	</tr>
</table>    
  </p>
<% end %>