<h1>New server_group</h1>

<%= form_for(@server_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :group_regex %><br />
    <%= f.text_field :group_regex %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', server_groups_path %>