<%= render :partial => "menubar" %>
<h1>Server Group - Show: <%=h @server_group.name %></h1>
<br/>
<table>
	<tr>
		<td>Name:</td>
		<td><%= @server_group.name %></td>
	</tr>
  <tr>
    <td>Regex (Adding new Servers to Group):</td>
    <td><%= @server_group.group_regex %></td>
  </tr>

	
	<tr>
		<td valign="top">Members:</td>
		<td>
			<% if @server_group.server_group_members.count > 0 %>
			 <% @server_group.server_group_members.each do |m| %>
			   Server: <%= link_to "#{m.server.fqdn}", m.server %> [<%= link_to 'X', { :controller => "server_groups",:action => "delmember", :id => m ,:from => 'server_group_view'}, :confirm => 'Are you sure?', :method => :delete %>]<br/>
			 <% end %>
			<% else %>
			 no member
		  <% end %>
		</td>
	</tr>

</table>