<h1>Listing sshkey_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Members</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sshkey_groups.each do |sshkey_group| %>
  <tr>
    <td><%= sshkey_group.name %></td>
    <td><%= sshkey_group.membercount %></td>
    <td><%= link_to 'Show', sshkey_group %></td>
    <td><%= link_to 'Edit', edit_sshkey_group_path(sshkey_group) %></td>
    <td><%= link_to 'Destroy', sshkey_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sshkey group', new_sshkey_group_path %>
