<h1>Listing iptypes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for iptype in @iptypes %>
  <tr>
    <td><%=h iptype.name %></td>
    <td><%= link_to 'Show', iptype %></td>
    <td><%= link_to 'Edit', edit_iptype_path(iptype) %></td>
    <td><%= link_to 'Destroy', iptype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New iptype', new_iptype_path %>
