<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Server MGMT - HSMS</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<%= stylesheet_link_tag 'style', :media => 'all',:cache => true, :recursive => true %>
	<%= javascript_include_tag :defaults %>

</head>

<body>

<div style="display:none;" id ="servermgmt_ajax_error">

</div>

<div id="servermgmt_overlay">
  <div id="servermgmt_overlay_content">
    <div id="servermgmt_overlay_container">
    </div>
  </div>

  [<a href="#" id="servermgmt_overlay_close_btn" >X</a>]
</div>

<div id="top-menu">
	<ul>
		<li><%= link_to "Home", :controller => "home" %></li>
		<li><%= link_to "Settings", :controller => "home", :action => "settings" %></li>
		<% if @current_user %>
		<li><%= link_to "Logout", logout_path %></li>
		<% end %>
	</ul>
</div>
<% if flash[:notice] %>
<p style="color: green"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
<p style="color: red"><%= flash[:error] %></p>
<% end %>

<div id="overlay_display"></div>


<div id="header">
    <div id="quick-search">
        <%= form_tag({:controller => 'search', :action => 'index'}, :method => :get ) do %>
        <%= link_to 'Search', {:controller => 'search', :action => 'index'} %>:<%= text_field_tag 'q', @question, :size => 20, :class => 'small' %>
        <% if Setting.get('puppet') == "true" %>
        <%= select_tag(:question_type, options_for_select([['Server/IPs', ''], ['Puppet Facts', 'facts'], ['Puppet Fact Values', 'fact_values']], @question_type)) %>
        <% end %> <%# End of Puppet %>
        <% end %>
    </div>
	

	<h1>Server MGMT System</h1>

	<div id="main-menu">
		<ul>
			<li><%= link_to "Servers", servers_path %></li>
			<li><%= link_to "Server Groups", server_groups_path %></li>
			<li><%= link_to "Domains", domains_path %></li>
      <li><%= link_to "Networks", networks_path %></li>
      <li><%= link_to "SSH Key MGMT", sshkeymgmts_path %></li>
		</ul>
	</div>
</div>



<div class="" id="main">

<div class="wiki">
<br/>
	<%= yield  %>
</div>

</div>

</body>
</html>
