<p>
  <b>Comment:</b>
  <%=h @servermac.comment %>
</p>

<p>
  <b>Mac:</b>
  <%=h @servermac.mac %>
</p>

<p>
  <b>Server:</b>
  <%=h @servermac.Server %>
</p>


<%= link_to 'Edit', edit_servermac_path(@servermac) %> |
<%= link_to 'Back', servermacs_path %>
